.container{
    width: 80%;
    align-content: center;
}

.col-12, .col-8, .col-4{
    padding: 10px;
}
.jumbotron{
    text-align: center;
}

.jumbotron h1{
    font-weight: bold;    
}

.jumbotron p{
    font-size: 12px;
}

table {
    font-size: 10px;
}

.hemispheres{
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}