<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>
        <div class = "container">
            <!-- Begin row one -->
            <div class = "row">
                <!-- Begin col one of one, row one -->
                <div class = "col-12">
                    <!-- Begin jumbotron -->
                    <div class = "jumbotron">
                            <h1 class = "display-4">Mission to Mars</h1>
                            <a class = "btn btn-primary btn-lg" href = scraper role = "button">Scrape New Data</a>
                            <p>Data last scraped on {{ mars_dict.scrape_date }}</p>
                    </div>  <!-- end jumbotron -->

                    <h3>Latest Mars News</h3>
                    <h5>{{ mars_dict.mars_news_title }}</h5>
                    <p>{{ mars_dict.mars_news_paragraph }}</p>

                </div>  <!-- end col one of one, row one  -->
            </div>  <!-- end row one -->

            <!-- Begin row two -->
            <div class = "row">
                <!-- Begin col one of two, row two -->
                <div class = "col-8">
                    <h3>Featured Mars Image</h3>
                    <div class = "featured-image">
                        <img src = "{{ mars_dict.jpl_featured_image }}" width = 500px>
                    </div>
                </div>  <!-- end col one of two, row two -->

                <!-- Begin col two of two, row two -->
                <div class = 'col-4'>

                    <!-- Begin within col row one -->
                    <div class = 'row'>
                        
                        <!-- Begin card -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Current Weather on Mars</h5>
                                <p class="card-text">{{ mars_dict.mars_weather }}</p>
                            </div>
                        </div>  <!-- end card -->

                    </div>  <!-- end within col row one -->
                    <p></p>
                    <!-- Begin within col row two -->
                    <h5>Mars Facts</h5>
                    <div class = "row">
                        {{ mars_dict.mars_table | safe }}
                    </div>  <!-- end within col row two -->

                </div>  <!-- end col two of two, row two -->
            </div>  <!-- end row two -->

            <div class = "hemispheres">
                <h3>Mars Hemispheres</h3>
                <hr>
                <!-- Begin row three -->
                <div class = "row">        
                    {% for img in mars_dict.hemisphere_image_urls[0:2] %}
                    <!-- <span class="border"> -->
                        <div class = "col-6">
                            <img src = "{{ img.img_url }}" width = 400px>
                            <h5>{{ img.title }}</h5>
                        </div>
                    <!-- </span> -->
                    {% endfor %}
                </div>  <!-- end row three -->
                
                <!-- Begin row four -->
                <div class = "row">            
                {% for img in mars_dict.hemisphere_image_urls[2:4] %}
                    <!-- <span class="border"> -->
                        <div class = "col-6">
                            <img src = "{{ img.img_url }}" width = 400px>
                            <h5>{{ img.title }}</h5>
                        </div>
                    <!-- </span> -->
                {% endfor %}
                </div>  <!-- end row four -->
            </div>  <!-- end hemispheres div-->
        </div>  <!-- end container -->
    </body>
    <footer>
    </footer>
</html>